{% extends 'core/base.html' %}

{% block title %}Login - TMS{% endblock %}
{% block content %}
    <main class="mt-[60px] flex justify-center">
        <div class="bg-white rounded-lg shadow-md w-full max-w-2xl p-8 mt-10">

            <!-- Page title -->
            <h1 class="text-2xl font-bold text-gray-800 mb-4">Login to Your Account</h1>

            <!-- Separator -->
            <div class="h-px bg-gray-200 my-6"></div>

            <!-- Login content -->
            <div>
                <p class="text-gray-600 mb-5">Enter your credentials to access your account and all your saved
                    files.</p>

                <!-- Alert messages -->
                {% include 'components/messages.html' %}

                <!-- Login form -->
                <form method="post" action="">
                    {% csrf_token %}

                    {% include 'components/input/input.html' with id="username" name="username" label="Username" placeholder="Enter your username" required=True %}

                    {% include 'components/input/password_input.html' with id="password" name="password" label="Password" placeholder="Enter your password" required=True %}

                    <div class="flex justify-between items-center mb-5">
                        <div class="flex items-center">
                            <input type="checkbox" id="remember" name="remember"
                                   class="h-4 w-4 text-blue-600 border-gray-300 rounded">
                            <label for="remember" class="ml-2">Remember me</label>
                        </div>
                    </div>

                    <button
                            type="submit"
                            class="w-full bg-blue-600 text-white py-3 px-4 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-colors"
                    >
                        Login
                    </button>
                </form>

                <div class="text-center mt-5 text-sm text-gray-600">
                    Don't have an account? <a href="{% url 'register' %}" class="text-blue-600 hover:underline">Register
                    here</a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}