{% extends 'core/base_authenticated.html' %}

{% block title %}Profile - TMS{% endblock %}

{% block child_content %}
<div class="container mx-auto p-6">
    <h2 class="text-2xl font-bold mb-4">Profile Settings</h2>

    <!-- Profile Update Form -->
    <form method="post">
        {% csrf_token %}

        {% include 'components/input/input.html' with id="username" label="Username" name="username" value=user.username required=True %}

        {% include 'components/input/input.html' with id="email" label="Email" name="email" value=user.email required=True %}

        {% include 'components/input/option.html' with id="warehouse_location" label="Warehouse Location" name="warehouse" options=warehouses option_value_attr="id" option_label_attr="name" input=profile.warehouse.id required=True %}

        <button type="submit"
                class="w-full bg-blue-600 text-white py-2 rounded-md font-semibold hover:bg-blue-700">
            Save Changes
        </button>
    </form>
</div>
{% endblock %}