{% extends 'core/base_authenticated.html' %}
{% load static %}

{% block title %}
    Warehouse - TMS
{% endblock %}

{% block child_content %}
    <div class="container mx-auto p-6">
        <h1 class="text-2xl font-semibold text-gray-800 mb-6">📦 Create Delivery Order</h1>

        <form method="post" class="space-y-4 bg-white shadow-md rounded-xl p-6">
            {% csrf_token %}

            {% include 'components/input/option.html' with id="person_assigned" label="Delivery PIC" name="person_assigned" options=users input=input.person_assigned option_value_attr="id" option_label_attr="username" %}

            {% include 'components/input/input.html' with type="date" id="estimated_time_arrival" label="Estimated Time Arrival (ETA)" name="estimated_time_arrival" value=input.estimated_time_arrival %}

            <!-- Destination warehouses -->
            <div class="space-y-2">
                {% include 'components/input/label_input.html' with label="Tujuan Gudang" id="destination_warehouses" %}

                {% for warehouse in warehouses %}
                    <div class="flex items-center">
                        <input type="checkbox" name="destination_warehouses" value="{{ warehouse.id }}"
                               id="warehouse_{{ warehouse.id }}"
                               class="h-4 w-4 text-blue-600 border-gray-300 rounded"
                                {% if warehouse.id in input.destination_warehouses %}
                               checked
                                {% endif %} >
                        <label for="warehouse_{{ warehouse.id }}" class="ml-2 block text-sm text-gray-700">
                            {{ warehouse.name }}
                        </label>
                    </div>
                {% endfor %}
            </div>

            <!-- Delivery notes -->
            {% include 'components/input/textarea.html' with id="delivery_notes" label="Notes" name="delivery_notes" value=input.delivery_notes %}

            <!-- Submit button -->
            <div>
                <button type="submit"
                        class="bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700 transition">
                    Create Delivery Order
                </button>
            </div>
        </form>

        {% include 'components/messages.html' %}

    </div>
{% endblock %}