{% extends 'core/base_authenticated.html' %}
{% load static %}

{% block title %}
    Warehouse - TMS
{% endblock %}

{% block child_content %}
    <div class="container mx-auto p-6">
        <h1 class="text-2xl font-semibold text-gray-800 mb-6">📦 Delivery Order List</h1>

        <div class="flex space-x-3">
            {% for delivery in delivery_list %}
                {% if not delivery.is_delivered %}
                    <div class="min-w-md bg-white shadow-md rounded-xl p-5 mb-4 border border-gray-200">
                        <div class="flex justify-between items-start">
                            <div>
                                <p class="text-sm text-gray-500">📤 <span
                                        class="font-medium text-gray-700">Assigned by:</span> {{ delivery.actor }}</p>
                                <p class="text-sm text-gray-500">📅 <span
                                        class="font-medium text-gray-700">Assigned date:</span> {{ delivery.date_assigned|date:"d M Y H:i" }}
                                </p>
                                <p class="text-sm text-gray-500">⏳ <span
                                        class="font-medium text-gray-700">ETA:</span> {{ delivery.estimated_time_arrival|date:"d M Y H:i" }}
                                </p>
                                <p class="text-sm font-medium text-gray-700">Status: {% if delivery.is_delivered %}
                                    Done
                                {% else %}
                                    Not Done
                                {% endif %} </p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% empty %}
                <div class="text-center text-gray-500">
                    Tidak ada data pengiriman yang tersedia.
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}