{% extends 'core/base_authenticated.html' %}

{% load static %}

{% block title %}
    Create Warehouse - TMS
{% endblock %}

{% block child_content %}
    <div class="container mx-auto p-6">

        <h1 class="text-2xl font-bold mb-4">Warehouse Management</h1>

        <!-- List Warehouse -->
        <div class="flex items-center justify-between mb-4">
            <h2 class="text-xl font-bold">Create Warehouse</h2>
            <a href="{% url 'warehouse-list' %}">
                <div class="flex items-center hover:bg-gray-300 transition rounded-lg py-1.5 px-2.5 space-x-1">
                    <svg class="h-5 w-5" aria-hidden="true">
                        <use xlink:href="{% static 'icons.svg' %}#warehouse-icon"></use>
                    </svg>
                    <span>List Warehouses</span>
                </div>
            </a>
        </div>

        <!-- Form Input Warehouse -->
        <form method="post" class="bg-white shadow-md rounded p-6 mb-6">
            {% csrf_token %}

            {% include 'components/input/input.html' with id="warehouse_name" label="Warehouse Name" name="warehouse_name" value=name required=True %}

            {% include 'components/input/input.html' with id="warehouse_code" label="Warehouse Code" name="warehouse_code" value=code required=True %}

            {% include 'components/input/textarea.html' with id="warehouse_address" label="Address" name="warehouse_address" value=address required=True %}

            {% include 'components/input/input.html' with id="warehouse_geotag" label="Geolocation" name="warehouse_geotag" placeholder="Latitude, Longitude" value=code required=True %}

            <button type="submit" class="bg-blue-500 text-white py-2 px-4 hover:bg-blue-600 rounded-full">
                Add Warehouse
            </button>
        </form>

        {% include 'components/messages.html' %}

    </div>

{% endblock %}