{% extends 'core/base_authenticated.html' %}

{% load static %}

{% block title %}
    Detail Warehouse - TMS
{% endblock %}

{% block child_content %}
    <div class="container mx-auto p-6">

        <h1 class="text-2xl font-bold mb-4">Warehouse Management</h1>

        <!-- List Warehouse -->
        <div class="flex items-center justify-between mb-4">
            <h2 class="text-xl font-bold">Edit Warehouse</h2>
            <a href="{% url 'warehouse-list' %}">
                <div class="flex items-center hover:bg-gray-300 transition rounded-lg py-1.5 px-2.5 space-x-1">
                    <svg class="h-5 w-5" aria-hidden="true">
                        <use xlink:href="{% static 'icons.svg' %}#warehouse-icon"></use>
                    </svg>
                    <span>List Warehouses</span>
                </div>
            </a>
        </div>

        <!-- Form Input Warehouse -->
        <form method="post" class="bg-white shadow-md rounded p-6 mb-6">
            {% csrf_token %}
            <div class="mb-4">
                <label for="warehouse_name" class="block text-gray-700 text-sm font-bold mb-2">Warehouse Name</label>
                <input id="warehouse_name" type="text" name="warehouse_name"
                       class="w-full p-2 border border-gray-300 rounded"
                       value="{{ warehouse.name }}"
                       required
                >
            </div>

            <div class="mb-4">
                <label for="warehouse_code" class="block text-gray-700 text-sm font-bold mb-2">Warehouse Code</label>
                <input id="warehouse_code" type="text" name="code"
                       class="w-full p-2 border border-gray-300 rounded"
                       value="{{ warehouse.code }}"
                       required
                >
            </div>

            <div class="mb-4">
                <label for="warehouse_address" class="block text-gray-700 text-sm font-bold mb-2">Address</label>
                <textarea
                        id="warehouse_address"
                        type="text"
                        name="warehouse_address"
                        required
                        rows="3"
                        x-data="{ resize() { this.$el.style.height = 'auto'; this.$el.style.height = `${this.$el.scrollHeight}px`; } }"
                        x-init="resize()"
                        @input="resize()"
                        class="w-full p-2 border border-gray-300 rounded"
                >{{ warehouse.address|default_if_none:"" }}</textarea>
            </div>

            <div class="mb-4">
                <label for="warehouse_geotag" class="block text-gray-700 text-sm font-bold mb-2">Geolocation</label>
                <input id="warehouse_geotag" type="text" name="warehouse_geotag" placeholder="Latitude, Longitude"
                       class="w-full p-2 border border-gray-300 rounded"
                       value="{{ warehouse.geotag }}"
                       required
                >
            </div>

            <button type="submit" class="bg-blue-500 text-white py-2 px-4 hover:bg-blue-600 rounded-full">
                Save Warehouse
            </button>
        </form>

        {% include 'components/messages.html' %}

    </div>

{% endblock %}