{% extends 'base_authenticated.html' %}

{% load static %}

{% block child_content %}
    <div class="container mx-auto p-6">

        <h1 class="text-2xl font-bold mb-4">Warehouse Management</h1>

        <!-- List Warehouse -->
        <div class="flex items-center justify-between mb-4">
            <h2 class="text-xl font-bold">Edit Warehouse</h2>
            <a href="{% url 'warehouse-list' %}">
                <div class="flex items-center hover:bg-gray-300 transition rounded-lg py-1.5 px-2.5 space-x-1">
                    <svg class="h-5 w-5">
                        <use xlink:href="{% static 'icons.svg' %}#warehouse-icon"></use>
                    </svg>
                    <span>List Warehouses</span>
                </div>
            </a>
        </div>

        <!-- Form Input Warehouse -->
        <form method="post" class="bg-white shadow-md rounded p-6 mb-6">
            {% csrf_token %}
            <div class="mb-4">
                <label for="warehouse_name" class="block text-gray-700 text-sm font-bold mb-2">Warehouse Name</label>
                <input id="warehouse_name" type="text" name="warehouse_name"
                       class="w-full p-2 border border-gray-300 rounded"
                       value="{{ warehouse.warehouse_name }}"
                       required
                >
            </div>

            <div class="mb-4">
                <label for="warehouse_address" class="block text-gray-700 text-sm font-bold mb-2">Address</label>
                <textarea
                        id="warehouse_address"
                        type="text"
                        name="warehouse_address"
                        required
                        rows="3"
                        x-data="{ resize() { this.$el.style.height = 'auto'; this.$el.style.height = `${this.$el.scrollHeight}px`; } }"
                        x-init="resize()"
                        @input="resize()"
                        class="w-full p-2 border border-gray-300 rounded"
                >{{ warehouse.warehouse_address }}</textarea>
            </div>

            <div class="mb-4">
                <label for="warehouse_geotag" class="block text-gray-700 text-sm font-bold mb-2">Geolocation</label>
                <input id="warehouse_geotag" type="text" name="warehouse_geotag" placeholder="Latitude, Longitude"
                       class="w-full p-2 border border-gray-300 rounded"
                       value="{{ warehouse.warehouse_geotag }}"
                       required
                >
            </div>

            <button type="submit" class="bg-blue-500 text-white py-2 px-4 hover:bg-blue-600 rounded-full">
                Save Warehous
            </button>
        </form>
        {% if messages %}
            {% for message in messages %}
                <div class="{% if message.tags == 'error' %}bg-red-50 border border-red-200 text-red-700{% else %}bg-green-50 border border-green-200 text-green-700{% endif %} px-4 py-3 rounded mb-5 text-sm">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}