{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Transport Management System for optimizing delivery and logistics.">
    <meta name="keywords" content="logistics, delivery, management, warehouse, TMS">
    <meta name="author" content="Your Company Name">
    <link rel="stylesheet" href="{% static 'output.css' %}">
    <title>{% block title %}Transport Management System{% endblock %}</title>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body class="bg-gray-100 overscroll-none">
    {% include 'components/navbar.html' %}
    {% block content %}{% endblock %}
</body>
</html>